
.backGround{
  background-image: url("https://blog.vantagecircle.com/content/images/2021/01/Employee-Management-Meaning-Importance-Tips-Tools---More.png");
}
  
[class*="col-"] {
  float: left;
  padding: 15px;
}
  
html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #523ba8;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
  
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
  .menu li{
    padding: 8px;
    margin-bottom: 7px;
    /*background-color: #79c0f0;*/
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .footer {
    background-color: #523ba8;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 70%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .butLink{
    padding: 10px 10px;
    text-align: center;
    font-family: "Luida Sans", sans-serif;
    color: white;
    text-decoration: white;
    display: inline-block;
  }
  .butLink:hover{
    background-color: #9a4bd0;
    padding: 10px 10px;
    font-size: 15px;
    text-align: center;
    font-family: "Luida Sans", sans-serif;
    color: white;
    text-decoration: white;
    display: inline-block;
  }

  .butIni{
    background-color: rgb(82, 59, 168);
    animation-fill-mode: both;
    border-width: 1px;
    color: white;
    font-family: "Luida Sans", sans-serif;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
  }
  .butIni:hover{
    background-color: rgb(126, 77, 248);
 }
.butInternal{
  background-color: rgb(82, 59, 168);
  animation-fill-mode: both;
  border-width: 1px;
  color: white;
  font-family: "Luida Sans", sans-serif;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
}
.butInternal:hover{
  background-color: rgb(126, 77, 248);
}

 .butMenu{
  background-color: rgb(82, 59, 168);
  animation-fill-mode: both;
  color: white;
  font-family: "Luida Sans", sans-serif;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}
.butMenu:hover{
  background-color:rgb(93, 37, 224);
}
  .fondIni{
    text-align: center;
    background-color: #523ba8;
    margin: 19px;
    padding: 35px;
    box-shadow: yellow;
    /*margin-left: 25%;*/
  }

  .centrarText{
    text-align: center;
    margin-top: 15px;
  }
  .tituloCelda{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
  }

  .backGroundCell{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bc9ee0;
    border-color: black;
    text-align: center;
    font-size: 18px;
  }

  .centerObject{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

